@model IEnumerable<Form>
@{ 
    ViewBag.Title = "站址管理";
}

<div class="showback">
    <div>
        <form>
            <div class="col-md-2">
                <input type="text" class="form-control" name="stationId" placeholder="站址编号" value="@Context.Request.Query["stationId"]" />
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name="stationName" placeholder="站址名称" @Context.Request.Query["stationName"] />
            </div>
            <div class="col-md-2">
                <select class="form-control" name="city" id="lstCities">
                    <option value="">城市</option>
                    @foreach (City x in ViewBag.Cities)
                    {
                        <!option value="@x.Id" @(Context.Request.Query["city"] == x.Id ? "selected" : "")>@x.Id</!option>
                    }
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="district" id="lstDistricts" data-parent-select="lstCities">
                    <option data-parent-id="" value="">区县</option>
                    @foreach (City x in ViewBag.Cities)
                    {
                        <option data-parent-id="@x.Id" value="">区县</option>
                        foreach (var y in x.Districts)
                        {
                            <!option data-parent-id="@x.Id" value="@y" @(Context.Request.Query["district"] == y ? "selected" :"")>@y</!option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="status">
                    <option value="">校验状态</option>
                    <!option value="Accepted" @(Context.Request.Query["status"] == "Accepted" ? "selected" : "")>校验通过</!option>
                    <!option value="Wrong" @(Context.Request.Query["status"] == "Wrong" ? "selected" : "")>校验未通过</!option>
                    <!option value="Pending" @(Context.Request.Query["status"] == "Pending" ? "selected" : "")>待校验</!option>
                </select>
            </div>
            <div class="col-md-2">
                <input id="btnSearch" type="submit" value="检索" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <hr />
    <div class="scroll-table-outer">
        <table class="table table-bordered table-striped table-condensed scroll-table">
            <thead>
                <tr>
                    @foreach(var x in ChinaTower.Verification.Models.Infrastructures.Hash.Headers[ChinaTower.Verification.Models.Infrastructures.FormType.站址])
                    {
                        <th>@x</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var x in Model)
                { 
                    <tr>
                        @for (var i = 0; i < ChinaTower.Verification.Models.Infrastructures.Hash.Headers[ChinaTower.Verification.Models.Infrastructures.FormType.站址].Count(); i++)
                        {
                            if (i < x.FormStringArray.Count())
                            {
                                if (x.VerificationLogs.Any(y => y.FieldIndex == i))
                                {
                                    if (i == 0)
                                    {
                                        <td><a asp-action="Show" asp-controller="Station" asp-route-id="@x.Id" style="color:red">@x.FormStringArray[i]</a></td>
                                    }
                                    else
                                    {
                                        <td style="color:red">@x.FormStringArray[i]</td>
                                    }

                                }
                                else
                                {
                                    if (i == 0)
                                    {
                                        <td><a asp-action="Show" asp-controller="Station" asp-route-id="@x.Id">@x.FormStringArray[i]</a></td>
                                    }
                                    else
                                    {
                                        <td>@x.FormStringArray[i]</td>
                                    }
                                }
                            }
                            else
                            {
                                <td style="color:#aaa;font-style:italic">未填写</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav class="centered">
        @Html.MakePager("", "active", "pagination")
    </nav>
</div>