@model Form
@{
    ViewBag.Title = "站址管理 - " + Model.Name;
    var RelatedForms = ((IEnumerable<Form>)ViewBag.RelatedForms).GroupBy(x => x.Type);
}

<div class="col-md-10">
    <div class="showback">
        <table class="table table-bordered">
            @for (var i = 0; i < ChinaTower.Verification.Models.Infrastructures.Hash.Headers[ChinaTower.Verification.Models.Infrastructures.FormType.站址].Count(); i++)
            {
                if (i % 3 == 0)
                {
                    @(new HtmlString("<tr>"))
                }
                <td style="font-weight:bold">@ChinaTower.Verification.Models.Infrastructures.Hash.Headers[ChinaTower.Verification.Models.Infrastructures.FormType.站址][i]</td>
                @if (i < Model.FormStringArray.Count())
                {
                    @if (Model.VerificationLogs.Any(x => x.FieldIndex == i))
                    {
                        <td style="color:red">@Model.FormStringArray[i]</td>
                    }
                    else
                    {
                        <td>@Model.FormStringArray[i]</td>
                    }
                }
                else
                {
                    <td><span style="color:#aaa;font-style:italic">未填写</span></td>
                }
                if (i % 3 == 2)
                {
                    @(new HtmlString("</tr>"))
                }
            }
        </table>
        <div>
            <input type="button" class="btn btn-primary" value="编辑站址信息" onclick="editForm(@Model.Id, @((int)Model.Type))" />
            <input type="button" class="btn btn-danger" value="错误详情" onclick="showVerifyDetails(@Model.Id)" />
            @if (!string.IsNullOrWhiteSpace(Model.PanoUrl))
            {
                <input type="button" class="btn btn-info" value="720度全景" onclick="showPano('@Model.PanoUrl')" />
            }
            @if (Model.Type == ChinaTower.Verification.Models.Infrastructures.FormType.站址)
            {
                <input type="button" class="btn btn-success" value="修改全景链接" onclick="editPano(@Model.PanoUrl)" />
            }
        </div>
    </div>

    @foreach (var form in RelatedForms)
    {
        <div class="showback">
            <h4><i class="fa fa-angle-right"></i> @form.Key.ToString()</h4>
            <div class="scroll-table-outer">
                <table class="table table-bordered table-striped table-condensed srcoll-table">
                    <thead>
                        <tr>
                            @foreach (var x in ChinaTower.Verification.Models.Infrastructures.Hash.Headers[form.Key])
                            {
                                <th>@x</th>
                            }
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in form)
                        {
                            <tr>
                                @for (var i = 0; i < ChinaTower.Verification.Models.Infrastructures.Hash.Headers[form.Key].Count(); i++)
                                {
                                    if (i < x.FormStringArray.Count())
                                    {
                                        if (x.VerificationLogs.Any(y => y.FieldIndex == i))
                                        {
                                            <td style="color:red">@x.FormStringArray[i]</td>
                                        }
                                        else
                                        {
                                            <td>@x.FormStringArray[i]</td>
                                        }
                                    }
                                    else
                                    {
                                        <td style="color:#aaa;font-style:italic;">未填写</td>
                                    }
                                }
                                <td>
                                    @if (x.Status == ChinaTower.Verification.Models.Infrastructures.VerificationStatus.Wrong)
                                    {
                                        <a href="javascript:showVerifyDetails(@x.Id)">错误详情</a>
                                    }
                                    <a href="javascript:editForm(@x.Id, @((int)x.Type)">编辑表单</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<div class="col-md-2">
    <div class="showback">
        <h4 class="modal-title" id="myModalLabel">照片</h4>
        <table class="table table-bordered">
            @foreach(var x in Enum.GetNames(typeof(ChinaTower.Verification.Models.Infrastructures.ImageType)))
            {
                <tr>
                    <td>
                        <a href="javascript:showImages('@x');">@x</a>
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-success" href="javascript:$('#modalUploadImage').modal('show')">上传图片</a>
    </div>
</div>

<div class="modal fade" id="modalPano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">720度全景</h4>
            </div>
            <div class="modal-body" id="divVerifyLog">
                <iframe src="@Model.PanoUrl" style="width: 100%; height: 600px"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalImages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">照片列表</h4>
            </div>
            <div class="modal-body" id="divImageList">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEditPano" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-action="Pano" asp-controller="Station" asp-route-id="@Model.Id" method="post" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑全景链接</h4>
            </div>
            <div class="modal-body" id="divVerifyLog">
                <div class="form-group">
                    <label>URL</label>
                    <input type="text" class="form-control" name="url" value="@Model.PanoUrl" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="modalUploadImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form asp-action="Upload" asp-controller="Station" asp-route-id="@Model.Id" method="post" class="modal-content" enctype="multipart/form-data">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">上传照片</h4>
            </div>
            <div class="modal-body" id="divVerifyLog">
                <div class="form-group">
                    <label>照片类型</label>
                    <select name="type" class="form-control">
                        @foreach (var x in Enum.GetNames(typeof(ChinaTower.Verification.Models.Infrastructures.ImageType)))
                        {
                            <option>@x</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>照片文件</label>
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>
<form id="frmDeletePicture" asp-action="RemoveFile" asp-controller="Home">
    <input type="hidden" name="id" id="pictureId" />
</form>

@Html.Partial("_FormModals")
<script>
    function editPano()
    {
        $('#modalEditPano').modal('show');
    }

    function showPano(url) {
        $('#modalPano').modal('show');
    }

    function showImages(type)
    {
        $('#modalImages').modal('show');
        $('#divImageList').html('');
        $.get('@Url.Action("Picture", "Station", new { id = Model.Id })', { type: type }, function (data) { 
            $('#divImageList').html(data);
        });
    }

    function removePicture(id)
    {
        if (confirm("您确认要删除这张照片吗？"))
        {
            $('#pictureId').val(id);
            $('#frmDeletePicture').submit();
        }
    }
</script>